.order-success-container {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: green;
  }
  
  p {
    font-size: 18px;
    color: #555;
  }
  
  h3 {
    font-size: 20px;
    color: #333;
  }
  